---
bg: "moon_stick.jpg"
layout: page
permalink: /scouts/
crawlertitle: "Krewe Du Moon Sailor Scouts"
title: "Sailor Scouts"
summary: "Krewe Du Moon Sailor Scouts"
active: scouts
---


{% for post in site.posts limit: 5 %}
	{{post.categories}}
  {% if post.categories contains "scouts" %}
    <article class="index-page">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <h5>{{ post.date | date: "%m/%d/%Y"  }}</h5>
      {{ post.excerpt }}
    </article>
  {% endif %}
{% endfor %}


